<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Lokalkart Application</title>
</h:head>
<h:body>
	<h:form>

		<p:dataList value="#{lokalkartMBean.prodCategoryList}"
			var="productCategory" type="ordered">
			<f:facet name="header">
            Product Details 
        </f:facet>
​
<p:layout style="min-width:400px;min-height:200px;">

				<p:layoutUnit position="west" size="300"
					header="#{lokalkartMBean.product.productName}" resizable="true"
					collapsible="true">
					<p:graphicImage library="image" name="#{lokalkartMBean.image}"
						width="150%" />
				</p:layoutUnit>
				<p:layoutUnit position="center">
					<p:inputText id="productName" readonly="true" value="#{lokalkartMBean.product.productName}" />
				</p:layoutUnit>

			</p:layout>
		</p:dataList>


	</h:form>
</h:body>
</html>