<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Lokalkart Application</title>
</h:head>
<h:body>
<h:form enctype="multipart/form-data">


		<p:breadCrumb>
			<p:menuitem value="Categories" url="#" />
			<p:menuitem value="#{lokalkartMBean.productCategorySelected}"
				url="index.xhtml" />
		</p:breadCrumb>

		<p:spacer width="10"></p:spacer>
		<p:dataList value="#{lokalkartMBean.productSubCategory}"
			var="productSubCategory" type="ordered">
			<f:facet name="header">
            Product Sub-Category
        </f:facet>
        <p:dialog header="Update Image" widgetVar="dlg2" modal="true"
				height="400" width="600">
				<p:fileUpload mode="advanced" dragDropSupport="false"
					fileUploadListener="#{lokalkartMBean.handleFileUpload}"
					update="messages"
					allowTypes="/(\.|\/)(gif|jpe?g|png)$/" />

				<p:growl id="messages" showDetail="true" />

			</p:dialog>
			<p:layout style="min-width:150px;min-height:300px;">


				<p:layoutUnit position="west" size="280">
					<p:graphicImage
						value="#{productSubCategory.productImages[0].imageUrl}">
						<h:outputLink id="editimg" value="#" onclick="PF('dlg2').show();">
							<h:outputText value="Edit" />
						</h:outputLink>
						<p:spacer width="10"></p:spacer>
						<h:outputLink id="removeimg" value="#"
							onclick="PF('dlg2').show();">
							<h:outputText id="img" value="Remove" style="text-align:right;" />
						</h:outputLink>
						<p:tooltip id="editimage" for="editimg" value="Edit Image" />
						<p:tooltip id="removeimage" for="removeimg" value="Remove Image" />

					</p:graphicImage>
				</p:layoutUnit>
				<p:layoutUnit position="center">

					<p:commandLink value="#{productSubCategory.subCategoryName}"
						action="#{lokalkartMBean.navigateToBrand}" ajax="false">
						<f:setPropertyActionListener
							value="#{productSubCategory.subCategoryName}"
							target="#{lokalkartMBean.productSubCategorySelected}" />
					</p:commandLink>
				

				</p:layoutUnit>








			</p:layout>


		</p:dataList>


	</h:form>
</h:body>
</html>